@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    overflow: hidden;
  }

/* Horizontal scrollbar */
::-webkit-scrollbar {
  width: 300px;
  height: 14px;
}

::-webkit-scrollbar:vertical {
  width: 14px;
  height: 300px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.06);
}
